.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

ul, li, ol {
    list-style-type: none;
}

h3 {
    text-transform: uppercase;
    text-align: left;
    padding: 20px;
}

img {
    width: 100px;
}

svg {
    width: 100px;
    border: 0px;
    padding: 5px;
    margin: 0px 20px;
}

/* Header */

header {
    grid-area: header;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}

header .item {
    width: 80px;
    padding: 5px;
    margin: 10px;
    border: 5px;
}

header .item-1 {
    margin-right: auto;
}

header .item-4 {
    padding-top: 25px ;
}

/* Navigation */
nav {
    grid-area: nav;
    background-color: yellow;   
    display: flex;
    justify-content: center;
}

.nav-icon {
    width: 40px;
    padding: 5px;
    margin: 5px;
    border: 5px;
}

/* Main */
main {
    display: grid;
    grid-area: main;
    background-color: yellowgreen;
    text-align: center;
}

.traffic-nav {
    display: flex;
    justify-content: space-around;
}

.social-container {
    text-align: left;
    margin: 5px;
    padding: 5px;
    border: 20px;
    border-color: pink;
    display: flex;
}

/*    */

.profile-image {
    border-radius: 50%;
}

.members-container {
    border: 10px;
    margin: 10px;
    padding: 10px;
    border-bottom: 5px solid red;
}

.widget-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    margin: 0px auto
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}




@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }
    main {
        grid-template-columns: 50%;
        grid-template-areas: 
            "main-header main-header"
            "traffic traffic"
            "daily mobile"
            "social social"
            "members activity"
            "message settings";
    }

    .traffic, .social, .main-header{
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

    /* navigation */

    .nav-icon {
        width: 35px;
        margin: 10px 0px;
    }

}