button {
    background-color: rgba(11, 86, 237, 0.797);
}

.settings-button button {
    padding: 10px;
    margin: 10px;
    width: 25vh;
    height: 90px;
    border-radius: 10px;
    font-size: 27px;
}