button {
    background-color: $main-color;
}

.settings-button button {
    padding: 10px;
    margin: 10px;
    width: 43%;
    height: 90px;
    border-radius: 10px;
    font-size: 27px;
}

button {
    background-color: $main-color;
}

button p {
    filter: invert(1); //makes the color white
}