.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

main {
    display: grid;
    grid-area: main;    
    grid-template-columns: 100%;
}

div .social-container {
    border-width: 10px;
    display: flex;
    text-align: left;
    margin: 5px;
    padding: 0px;
    border: 5px;
}

.members-container {
    border: 10px;
    margin: 30px;
    padding: 20px;
    border-bottom: 5px solid rgb(200, 200, 200);
}

.widget-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    margin: 0px auto;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
}

#daily-chart {
    margin-top: 100px;
}

.green-dot-container {
    height: 10px;
    width: 10px;
}
