@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "nav main";
    }
    
    main {
        grid-template-columns: 50%;
    }

    .traffic, .social, .main-header{
        grid-column: 1 / span 2;
    }

    .daily {
        grid-column: 1 / span 1;
    }

    .settings, .message {
        grid-column: 1 / span 2;
    }

    .members, .activity {
        grid-column: 1 / span 2;
    }

    .mobile {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }


    // base styles
        header {
            width: 100%;
        }

        nav {
            flex-direction: column;
            justify-content: flex-start;
        }
    ///////////////

    // traffic
        .traffic-header h3{
            margin-right: auto;
        }

        .traffic-header {
            display: flex;
        }
        
        .traffic-nav {
            display: flex;
            justify-content: flex-end;
        }

        li.traffic-nav-link {
            margin: 0px 30px;
            padding: 20px 0px;
        }
    ///////////////

    // members
        .members .members-container {
            display: flex;
            width: 90%;
        }

        .members-text {
            padding: 0px;
            margin: 20px;
            margin-right: auto;
        }

        .members-container p:last-child {
            margin: auto 0px;
        }
    ///////////////

    //activity
        .activity .item-a {
            grid-area: item-a;
        }

        .activity .item-b {
            grid-area: item-b;
            padding-top: 30px;
            justify-self: start;
        }

        .activity .item-c {
            grid-area: item-c;
            padding-bottom: 20px;
            padding-left: 5px;
            justify-self: start;
        }

        .activity .item-d {
            padding-top: 45px;
            justify-self: end;
        }

        .activity .members-container {
            display: grid;
            grid-template-columns: 120px 70% 20px;
            grid-template-rows: auto;
            grid-template-areas: 
                "item-a item-b item-d"
                "item-a item-c item-d";

        }

        .activity .members-container p:last-child {
            display: block;
        }
    ///////////////

    // social
        .social {
            width: 95%;
        }

        .social-div {
            width: 100%;
            display: flex;
            margin: 20px 0px;
            justify-content: space-around;
        }

        div .social-container {
            width: 100%;
            min-width: 150px;
            max-width: 230px;
            max-height: 80px;
        }

        div .social-image {
            width: 70px;
            height: 70px;
            margin: 5px;
        }

        .social-image svg {
            margin: -4px;
        }

        div .social-text {
            font-size: 1.2em;
            letter-spacing: 3px;
            margin: 4px 0px;
        }

        div .social-text p:last-of-type {
            font-size: 1.5em;
        }
    ///////////////

    // settings
    ///////////////

    
}


@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "nav main";
    }

    main {
        grid-template-columns: 50%;
        width: 100%;
    }

    .main-header, .traffic, .social {
        grid-column: 1 / span 2;
    }

    .members, .message, .daily {
        grid-column: 1 / span 1;
    }

    .activity, .settings, .mobile {
        grid-column: 2 / span 1;
    }
    
    div .social-container {
        width: 280px;
        max-width: 280px;
    }

    div .social-text {
        margin: 8px;
    }

    //activity
    .activity .members-container {
        grid-template-columns: 120px 30vw 20px;
    }
    
    
}