
/* ============================================= */
/*              Base styles                      */
/* ============================================= */
header {
    grid-area: header;
    background-color: $main-color;
    display: flex;
    justify-content: space-around;
}

ul, li, ol {
    list-style-type: none;
}

main {
    display: grid;
    grid-area: main;    
    text-align: center;
}

p {
    margin: 5px;
}

h3 {
    text-transform: uppercase;
    text-align: left;
    padding: 20px;
}

img {
    width: 100px;
}

svg {
    width: 100px;
    border: 0px;
    padding: 5px;
    margin: 0px 20px;
}



/* ============================================= */
/*              Typography                       */
/* ============================================= */



header .item-1,
header .item-2,
header .item-4,
#alert p,
button p {
    filter: invert(1); //makes the color white
}

.message #userField,
.message #messageField
{
    margin: 8px;
    padding: 5px;
    border: 2px solid rgba(213, 213, 213, 0.736);
    border-radius: 5px;
}

.social-text p:first-child,
.social-image svg {
    color: $main-color;
    fill: $main-color;
}

header .item {
    width: 70px;
    padding: 5px;
    margin: 10px;
    border: 5px;
}

header .item-1 {
    margin-right: auto;
}

header .item-2 {
    width: 35px;
    margin: 20px 0px;
    padding: 10px;
}

header .item-4 {
    padding-top: 24px ;
    padding-left: 0px;
    width: 100px;
}


#send {
    border-radius: 8px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
}



.message #userField {
    height: 30px;
}

.message #messageField {
    height: 100px;
}


.dash-item {
    padding: 10px;
}

.main-header-search {
    margin: auto 0px;
}

.alert-banner p {
    font-size: 20px;
}

.alert-banner {
    margin: 20px;
    padding: 5px;
    border: 5px;
    background-color: $main-color;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div .social-text {
    font-size: 40px;
    letter-spacing: 8px;
}

.social-text p:first-child {
    font-size: 35px;
}

